<%- include('../partials/header') %>

<ul>
    <li class="flight-deets"><span class="show-title">Airline:</span> <%= flight.airline %></li>
    <li class="flight-deets"><span class="show-title">Flight Number:</span> <%= flight.flightNo %></li>
    <li class="flight-deets"><span class="show-title">Departs:</span> <%= flight.departs %></li>
    <li class="flight-deets"><span class="show-title">Departing Airport:</span> <%= flight.airport %></li>
</ul>
<br>
<label class="show-dest">Destinations:</label>
<hr>
<%if (flight.destinations.length) { %>
<ul>
    <% flight.destinations.forEach(function(fl) { %>
    <li class="destinations"><span class="dest-title">Airport:</span> <%= fl.airport %> <span class="dest-title">Arriving At:</span> <%= fl.arrival %></li>
    <% }); %>
</ul>
<% } else { %>
    <h3>Flight has no destinations scheduled.</h3>
<% } %>
<br>
    <form action="/flights/<%= flight._id %>/destinations" method="POST">
        <label>Destination Airport:</label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select>
        <label>Arrival Date:</label>
        <input type="datetime-local" name="arrival">
        <button>Add Destination</button>
    </form>
<br>
<h3 class="show-dest">Available Tickets:</h3>
<hr>
<ul>
    <% tickets.forEach(function(t) { %>
        <li><span class="dest-title">Seat:</span> <%= t.seat %> <span class="dest-title">Price:</span>  $<%= t.price %></li>
    <% }); %>
</ul>
</form>
<a href="/flights/<%= flight._id %>/tickets/new" class="add-ticket">Add Ticket</a>


<%- include('../partials/footer') %>